<!DOCTYPE html>
<html>
<head>
    <title>IT Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
       .btn-custom {
           background-color: rgb(0, 204, 255);
           padding: 10px 20px;
           text-decoration: none;
           color: black;
           border-radius: 5px;
           border: none;
       }
       .btn-custom:hover {
           background-color: rgb(0, 204, 255);
           padding: 10px 20px;
       }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to IT Services</h1>
        <br><br>

        <!-- Static Links -->
        <ul>
            <!-- <li><a href="{% url 'login' %}">Login</a></li> -->
            <!-- <li><a href="{% url 'register' %}">Register</a></li> -->
            <li><a href="{% url 'service_create' %}" class="btn btn-link">Create Service</a></li>
            <li><a href="{% url 'service_list' %}" class="btn btn-link">Service List</a></li>
        </ul>
        
        <a href="{% url 'logout' %}" class="btn-custom">Logout</a><br>
       
        <br><br>

        <a href="{% url 'subscription_create' %}" class="btn-custom">BUY</a>

        <br><br>

        <h2>Services List</h2>
        <ul>
            {% for service in services %}
            <li>{{service.name}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
