<!DOCTYPE html>
<html>
<head>
    <title>Service List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Services</h1>
    <a href="{% url 'service_create' %}">Create Service</a>
    <ul>
        {% for service in services %}
            <li>
                <a href="{% url 'service_detail' service.pk %}">{{ service.name }}</a> - {{ service.price }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
