<!DOCTYPE html>
<html>
<head>
    <title>Confirm Subscription</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Confirm Subscription</h1>
    <form id="razorpay-form" action="{% url 'subscription_callback' %}" method="post">
        <input type="hidden" name="razorpay_order_id" value="{{ payment.id }}">
        <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
        <input type="hidden" name="razorpay_signature" id="razorpay_signature">
        {% csrf_token %}
        <button id="pay-button">Pay</button>
    </form>
    <script>
        var options = {
            "key": "{{ razorpay_key }}",
            "amount": "{{ payment.amount }}",
            "currency": "INR",
            "name": "IT Services",
            "description": "Subscription Payment",
            "order_id": "{{ payment.id }}",
            "handler": function (response){
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.getElementById('razorpay-form').submit();
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('pay-button').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>
</html>
